button {
  position: absolute;
  top: 0;
  right: 0;

  height: 40px;
  width: 40px;

  padding: 0.25rem;

  font-size: 1.25rem;
  font-weight: bold;

  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;

  background-color: #6cd4ff;

  z-index: 3;
}
