.copyToClipboard {
  height: 50px;
  width: 200px;

  position: absolute;
  bottom: -10px;
  left: 50%;

  transform: translate(-50%, 100%);

  opacity: 0;

  font-size: 0.85rem;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  border-radius: 0.25rem;

  background-color: #444444;

  z-index: 2;

  transition: opacity 0.1s linear;

  user-select: none;
  -moz-user-select: none;
}

.copyToClipboard::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #444444 transparent;
}

.copyToClipboard.copied {
  background-color: #1d6700;
}

.copyToClipboard.copied::after {
  border-color: transparent transparent #1d6700 transparent;
}
